* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: PMZD;
  src: url(../fonts/PMZD.ttf);
}

@font-face {
  font-family: ZKKH;
  src: url(../fonts/ZKKH.ttf);
}
